:root {
  --page-bg: #dae0e6;
  --box-bg: #fff;
  --bar-bg: rgb(248 249 250);
  --btn-blue: #0079d3;
  --underlay-bg: #111111cc;
  --orange: #d93a00;

  --border: 1px solid #bbbbbb55;
  --sborder: 0px 0px 1px 1px #bbbbbb55;

  --header-h: 48px;
  --sidebar-w: 270px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.4px;
  line-height: 1.3rem;
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

hr {
  border: var(--border);
}

.App {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: var(--header-h) 1fr; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--box-bg);
}

.header.main {
  height: var(--header-h);
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  z-index: 2;
  padding: 0 1.3rem;
}

.header.card {
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
  background-color: mediumseagreen;
  height: var(--header-h);
}

.header.sub::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: springgreen;
}

.header.sub {
  height: 200px;
}

.sidebar {
  display: flex;
  width: var(--sidebar-w);
  height: calc(100vh - var(--header-h));
  background-color: var(--box-bg);
}

.sidebar.main {
  top: var(--header-h);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.sidebar.sub {
  flex-direction: column;
  gap: 1rem;
  width: 350px;
  background-color: unset;
}

.main {
  position: fixed;
  z-index: 1;
  box-shadow: var(--sborder);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--page-bg);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.content {
  display: flex;
  gap: 1.75rem;
  margin-top: 1.75rem;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 640px;
  padding-bottom: 1rem;
  /*background-color: #63111111;*/
}

.bar,
.card,
.post {
  display: flex;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.card {
  flex-direction: column;
  height: fit-content;
}

.bar,
.card.body {
  gap: 1rem;
  padding: 1rem;
  background-color: var(--box-bg);
}

.post-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--box-bg);
}

.rating-bar {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
  min-width: 2.5rem;
  padding: 1rem 0;
  align-items: center;
  background-color: var(--bar-bg);
}

.list {
  display: flex;
}

.list .card {
  gap: 0rem;
  padding: 0 0.25rem;
}

.border {
  border-radius: 3px;
  box-shadow: var(--sborder);
}

.rounded-border {
  border-radius: 9px;
  box-shadow: var(--sborder);
}

.vpad {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.flair {
  padding: 0.25rem 0.75rem !important;
  width: fit-content;
}

.bar {
  
}

.btn {
  background-color: var(--btn-blue);
  color: white;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  padding: 0.55rem 2.5rem;
}

.btn-input-bg {
  color: var(--btn-blue);
}

.btn:hover {
  filter: brightness(110%); 
}

.compose-post-btn-grp {
  display: flex;
}

.compose-post-btn-grp button {
  background-color: var(--box-bg);
  border: none;
  box-shadow: var(--sborder);
  padding: 1rem;
  width: 500px;
}

.compose-post-btn-grp button:not(:disabled) {
  color: var(--btn-blue);
  font-weight: bold;
}

.compose-post-btn-grp button:not(:disabled):hover {
  background-color: #0079d31a;
}

.scroll-btn {
  position: fixed;
  bottom: 2.5%;
  right: 12.5%;
}

.close-btn {
  position: absolute;
  transform: translate(285px, -75px);
  width: 2em;
  height: 2em;
  background-color: unset;
  border: none;
  font-size: 30px;
}

.dropdown-btn {
  background-color: var(--box-bg);
  padding: 1rem 1rem;
  border: none;
}

.sub-link {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.sidebar.main nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1.3rem 0;
  font-size: 14px;
}

.sidebar.main .text-trivial {
  padding: 0 1.25rem;
  font-size: 0.7em;
}

.sidebar.main a {
  display: block;
  padding: 0.5rem 1.25rem;
  width: 100%;
  font-size: 1.2em;
}

.sidebar.main a:not(.pseudo-select):hover {
  background-color: var(--bar-bg);
}

.sidebar .details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details span {
  display: block;
}

.text-imp {
  color: white;
  font-weight: bold;
}

.text-trivial,
.summary {
  display: block;
  color: grey;
  font-size: 0.8em;
  width: 75%;
}

.line-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

[type='text'] {
  width: 100% !important; 
}

[type='text'],
[type=search] {
  height: 38px;
  width: 35%;
  padding: 0 1rem;
  margin-right: 5rem;
  background-color: var(--bar-bg);
  box-shadow: var(--sborder);
  border-radius: 25px;
  border: none;
  transition: all ease-in-out 0.05s;
}

[type='text'].border {
  border-radius: 3px;
  margin: 0;
}

.btn-input-bg,
input:hover {
  background-color: var(--box-bg);
  box-shadow: 0px 0px 1px 1px var(--btn-blue)
}

.list .card li:hover,
.compose-post-btn-grp button:not(:disabled):hover,
.close-btn:hover,
.details:hover,
.dropdown-btn:hover,
.btn:hover,
a:hover {
  cursor: pointer;
}

*:disabled:hover {
  cursor: not-allowed;
}

.pseudo-select {
  background-color: var(--page-bg);
}

.popup {
  position: fixed;
  top: 25%;
  left: calc(50% - 200px);
  z-index: 6;
  width: 400px;
}

.popup.card {
  padding: 5rem 3rem;
}

.underlay {
  position: fixed;
  background-color: var(--underlay-bg);
  width: 100vw;
  height: 100vw;
  z-index: 5;
}

.orange-bg {
  background-color: #d93a00;
}

.quill {
  height: 200px;
  margin-bottom: 2.5rem;  
}

.ql-toolbar {
  border-radius: 9px;
  background-color: var(--bar-bg);
  box-shadow: var(--sborder);
  transform: translate(0, 8px);
  flex-direction: row-reverse;
  display: flex;
  justify-content: flex-end;
}

.ql-link,
.ql-picker-label {
  display: none !important;
}

.ql-container {
  border-radius: 9px;
  resize: both;
}

.htmlrevert ul li {
  list-style-type: disc;
}

.htmlrevert ol li {
  list-style-type: number;
}

.htmlrevert li {
  margin-left: 2.5rem;
}

.htmlrevert u {
  text-decoration: underline;
}

.logo {
  display: inline-block;
  width: 2.3em;
  height: 2.3em;
  background: url('./imgs/icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert();
}

.default-icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: #19f;
  border-radius: 50%;
}

.default-icon:before {
  display: block;
  content: 'r/';
  color: white;
  font-weight: bold;
  transform: translate(35%, 20%);
}

.btn-img {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
}